@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonteelegante: 'Playfair Display', serif;
    --fontecursiva: 'Great Vibes', cursive;
    --fontemoderna: 'Montserrat', sans-serif;
    --cor1: rgb(139, 0, 0);
}

.header {
    color: white;
}

.container-header {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding-top: 20px;
    gap: 30px;
}

.container-header a {
    color: white;
    font-size: 20px;
    font-family: var(--fontemoderna);
    text-decoration: none;
}

.container-header a:hover {
    border-bottom: 2px solid white;
}

.apresentacao {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.apresentacao .h1-header {
    font-family: var(--fonteelegante);
    font-size: 5rem;
}

.apresentacao .h2-header {
    text-align: center;
    font-size: 2rem;
}

.apresentacao .btn-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 40px;
    width: 300px;
    height: 60px;

    color: white;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    background-color: var(--cor1);
    font-size: 20px;
    font-weight: bold;
}

.apresentacao .btn-header:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.26);
}

.header-img img{
    width: 100%;
    height: 1100px;
    background-attachment: fixed;
}

main {
    background-color: #F2DDD0;
}

.container-cardapio {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.title-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
    margin: 40px 0px;
}

.title-cardapio span {
    flex: 1;
    height: 2px;
    margin-top: 30px;
    background:black;
}

.h1-cardapio {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    white-space:nowrap;
}

.mini-cardapio {
    display: flex;
}

.cardapio {
    width: 150px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.cardapio:hover {
    background-image: linear-gradient(rgba(189,105,105,0.6), rgba(189, 105, 105, 0.6)), url("img/background-red.png");
}

.cardapio:active {
    background-image: linear-gradient(rgba(189,105,105,0.6), rgba(189, 105, 105, 0.6)), url("img/background-red.png");

background-size: cover;
background-position: center;
}

#entradas-esq {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#sobremesas-dir {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container-food {
    margin-top: 40px;
    margin-bottom: 40px;
}

.entradas {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.comida-entrada {
    width: 250px;
    display: flex;
    flex-flow: column wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.699);
}

.comida-entrada img {
    width:250px;
    height:170px;
    display: block;
    object-fit: cover;


    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comida-entrada .titulo-comida {
    padding: 10px 15px;
    font-family: 'Times New Roman', Times, serif;
}

.comida-entrada .sobre {
    padding: 0px 15px 10px 15px;
    font-family: 'Times New Roman', Times, serif;
}

.preço {
    display: flex;
    padding: 0px 15px 10px 15px;

    gap: 6px;
}

.preço-p {
    color: var(--cor1);
}

.btn-pedir {
    height: 30px;
    width: 130px;
    margin: 0px 15px 10px 15px;

    border: none;
    border-radius: 15px;
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--fontemoderna);
}

.container-sobre {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 700px;

    background-image: linear-gradient(rgba(141, 31, 31, 0.6), rgba(194, 43, 43, 0.6)), url(img/background-red.png);
    color: white;
}

.sobre {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 140px;
}

.sobre h1 {
    font-family: var(--fontecursiva);
    font-size: 6em;
    text-align: center;
    margin-bottom: 5px;
}

.sobre h2 {
    width: 300px;

    border-bottom: 1px solid white;
    font-family: var(--fontemoderna);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.sobre p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    width: 460px;
}

.sobre img {
    width: 500px;
    height: 250px;
}

.container-img-sobre img {
    width: 800px;
    height: 500px;
}

.localizacoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 500px;

    background-image: url(img/background-bronw.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contato-localizacao {
    display: flex;
    flex-flow: column nowrap;
    width: 700px;
}

.contato-localizacao h2 {
    font-size: 2em;
    margin: 80px 0px 30px 40px;
}

.pedido-p {
    font-size: 1.7em;
    margin-bottom: 40px;
    margin-left: 40px;
}

.contato {
    display: flex;
    flex-flow: row nowrap;
}

.contato img {
    width: 100px;
    height: 80px;
}

.contato p {
    margin-top: 20px;
    font-size: 1.6em;
}

.rua {
    display: flex;
    flex-flow: row nowrap;
}

.rua p {
    margin-top: 20px;
    font-size: 1.6em;
}

.rua img {
    width: 100px;
    height: 80px;
}

.localizacao {
    border-left: 1px solid white;
    height: 400px;
    margin: 70px 0px 0px 80px;
    padding-left: 50px;
}

.localizacao h2 {
    font-size: 2em;
    padding-bottom: 18px;
}

.localizacao img {
    width: 700px;
    height: 340px;
    border-radius: 30px;
}